 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>“Be regular and orderly in your life, so that you may be violent and original in your work.” – Gustave Flaubert

As a creative thinker, I believe that advertising is about empowering people through creativity. This is what drives my thinking.

My passion for advertising began at a young age. As a restless, stubborn boy, I decided to boycott my grade 5 teacher for two weeks. Instead of playing video games, I spent that time learning HTML and CSS and building my first computer. Those 2 weeks ignited a spark that my teacher could not.

</p>
                </div>
                <div class="col-lg-4">
                    <p>I spent my free time dabbling in web development and graphic design. What has fuelled my love of all things digital is the way it allows me to empower others through creativity.

I’ve spent the past 2 years in Seneca’s Creative Advertising program, honing my art direction and strengthening my love of digital advertising. I’ve had the pleasure of creating over 10 campaigns over the course of my program.

Feel free to tweet me, email me, or send packages via drone to my house.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>